@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-white;
  }
}

@layer components {
  .btn-lightGrey {
    @apply bg-slate-400 text-slate-700 hover:bg-slate-300 active:bg-slate-600 active:text-white;
  }
}

.hiddenScrollbar::-webkit-scrollbar {
  display: none;
}

.hiddenScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
